@import "tailwindcss";

@theme {
  --color-dark-navy: #1b3c53;
  --color-powder-navy: #1b3c53;
  --color-cream: #f9f3ef;
  --color-powder-denim: #456882;
  
      
}
@layer base {
  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-cream);
    margin: 0;
    padding: 0;
  }
}
